.dsa-radio {
  --dsa-radio--background: transparent;
  --dsa-radio--background_checked: var(--ks-color-primary);
  --dsa-radio--background_active: transparent;

  --dsa-radio--border: var(--ks-border-width-default) solid;
  --dsa-radio--border-color: var(--ks-border-color-interface-interactive);
  --dsa-radio--border-color_hover: var(--ks-border-color-interface-interactive-hover);
  --dsa-radio--border-color_focus: var(--ks-border-color-interface-interactive-active);
  --dsa-radio--border-color_checked: var(--ks-border-color-interface-interactive-selected);

  --dsa-radio--size: 1.5em;

  --dsa-radio--shadow_focus: 0 0 0 var(--ks-border-width-emphasized);

  --dsa-radio--border-radius: var(--ks-border-radius-circle);
  --dsa-radio__checkmark--size: 0.45em;

  --dsa-radio__label--font: var(--ks-font-interface-s);
  --dsa-radio__label--font-weight: var(--ks-font-weight-regular);
  --dsa-radio__label--color: var(--ks-text-color-interface);
  --dsa-radio__label--margin-left: 0.5em;
}
