.token-preview-chart {
  thead {
    position: sticky;
    top: 0;
    background: var(--ks-color-bg);
    z-index: 99;

    th {
      border-block-end: 1px solid var(--ks-border-color-interface);
      font: var(--ks-font-mono-s);
      font-weight: var(--ks-font-weight-bold);
      padding: 0.5em 0;
    }
  }

  th {
    text-align: left;
    font: var(--ks-font-mono-xs);
    color: var(--ks-color-fg);
  }

  tbody {
    header {
      margin-top: 1em;
    }
  }
}
