.dsa-radio-group {
  --dsa-radio-group__label--color: var(--ks-text-color-interface);
  --dsa-radio-group__label--font: var(--ks-font-interface-s);
  --dsa-radio-group__label--font-weight: var(--ks-font-weight-semi-bold);
  --dsa-radio-group__label--padding-bottom: 0.25em;
}
