.token-preview {
  border-bottom: 1px solid grey;
  vertical-align: top;

  &__info {
    width: 100%;
  }

  &__name {
    position: relative;
    font: var(--ks-font-mono-xs);
    background-color: rgb(240, 240, 240);
    padding: 0.2em 0.75em;
    border-radius: 0.35em;
    width: fit-content;
    margin-right: 1em;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgb(220, 220, 220);

      .copy-tooltip {
        opacity: 1;
        transform: translate(-50%, -120%);
      }
    }
  }

  &__description {
    font: var(--ks-font-interface-xs);
  }
}
