@import "./border-color/border-color-preview.scss";
@import "./background-color/background-color-preview.scss";
@import "./color/color-preview.scss";
@import "./font-size/font-size-preview.scss";
@import "./spacing/spacing-preview.scss";
@import "./shadow/shadow-preview.scss";
@import "./border/border-preview.scss";
@import "./transition/transition-preview.scss";

.preview-page {
  max-width: 900px;
  margin: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
  padding-left: 4vw;
  padding-right: 4vw;
}
