@import "./color-preview.scss";
@import "./font-size-preview.scss";
@import "./spacing-preview.scss";
@import "./shadow-preview.scss";
@import "./border-preview.scss";

.preview-page {
  max-width: 900px;
  margin: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
  padding-left: 4vw;
  padding-right: 4vw;
}
