.l-split-even {
  --dsa-split-even--gutter_small: var(--ks-spacing-stack-s) var(--ks-spacing-inline-s);
  --dsa-split-even--gutter_default: var(--ks-spacing-stack-m) var(--ks-spacing-inline-m);
  --dsa-split-even--gutter_large: var(--ks-spacing-stack-xl) var(--ks-spacing-xxl);

  --dsa-split-even__content--gutter_small: var(--ks-spacing-stack-s);
  --dsa-split-even__content--gutter_default: var(--ks-spacing-stack-m);
  --dsa-split-even__content--gutter_large: var(--ks-spacing-stack-xl);

  --dsa-split-even__content--flex-basis_narrow: var(--dsa-tile--width_small);
  --dsa-split-even__content--flex-basis_medium: var(--dsa-tile--width_medium);
  --dsa-split-even__content--flex-basis_wide: var(--dsa-tile--width_large);
}
