:root,
[ks-theme] {
  --ks-background-color-primary-base: var(--ks-color-primary);
  --ks-background-color-primary-inverted-base: var(--ks-color-primary-inverted);

  --ks-background-color-primary-translucent-base: var(--ks-color-primary-alpha-5);
  --ks-background-color-primary-inverted-translucent-base: var(--ks-color-primary-inverted-alpha-5);

  --ks-background-color-primary-interactive-base: var(--ks-color-primary);
  --ks-background-color-primary-inverted-interactive-base: var(--ks-color-primary-inverted);

  --ks-background-color-primary-interactive-hover-base: var(--ks-color-primary-to-bg-6);
  --ks-background-color-primary-inverted-interactive-hover-base: var(--ks-color-primary-inverted-to-bg-6);
}

:root {
  --ks-background-color-primary: var(--ks-background-color-primary-base);
  --ks-background-color-primary-inverted: var(--ks-background-color-primary-inverted-base);

  --ks-background-color-primary-translucent: var(--ks-background-color-primary-translucent-base);
  --ks-background-color-primary-inverted-translucent: var(--ks-background-color-primary-inverted-translucent-base);

  --ks-background-color-primary-interactive: var(--ks-background-color-primary-interactive-base);
  --ks-background-color-primary-inverted-interactive: var(--ks-background-color-primary-inverted-interactive-base);

  --ks-background-color-primary-interactive-hover: var(--ks-background-color-primary-interactive-hover-base);
  --ks-background-color-primary-inverted-interactive-hover: var(
    --ks-background-color-primary-inverted-interactive-hover-base
  );
}

[ks-inverted="true"] {
  --ks-background-color-primary: var(--ks-background-color-primary-inverted-base);
  --ks-background-color-primary-inverted: var(--ks-background-color-primary-base);

  --ks-background-color-primary-translucent: var(--ks-background-color-primary-inverted-translucent-base);
  --ks-background-color-primary-inverted-translucent: var(--ks-background-color-primary-translucent-base);

  --ks-background-color-primary-interactive: var(--ks-background-color-primary-inverted-interactive-base);
  --ks-background-color-primary-inverted-interactive: var(--ks-background-color-primary-interactive-base);

  --ks-background-color-primary-interactive-hover: var(--ks-background-color-primary-inverted-interactive-hover-base);
  --ks-background-color-primary-inverted-interactive-hover: var(--ks-background-color-primary-interactive-hover-base);
}
