:root {
  --ks-border-width-default: var(--ks-brand-border-width-default);
  --ks-border-width-emphasized: var(--ks-brand-border-width-emphasized);

  --ks-border-radius-control: var(--ks-brand-border-radius-control);
  --ks-border-radius-card: var(--ks-brand-border-radius-card);
  --ks-border-radius-surface: var(--ks-brand-border-radius-surface);
  --ks-border-radius-pill: 999px;
  --ks-border-radius-circle: 50%;
}
