:root {
  --ks-border-width-default: 1px;
  --ks-border-width-emphasized: 2px;

  --ks-border-radius-control: 16px;
  --ks-border-radius-card: 16px;
  --ks-border-radius-surface: 32px;
  --ks-border-radius-pill: 999px;
  --ks-border-radius-circle: 50%;
}
