:root {
  // Colors
  --color-primary: #3065c0;
  --color-primary-inverted: #4e83e0;

  --color-bg: #fff;
  --color-bg-inverted: #0f203e;

  --color-fg: #06081f;
  --color-fg-inverted: #fff;

  --color-link: #3065c0;
  --color-link-inverted: #98b2e0;

  --color-positive: #23831b;
  --color-positive-inverted: #6edb64;

  --color-negative: #ff1a57;
  --color-negative-inverted: #d21d48;

  --color-informative: rgb(100, 194, 219);
  --color-informative-inverted: rgb(0, 113, 143);

  --color-notice: rgb(100, 194, 219);
  --color-notice-inverted: rgb(0, 113, 143);

  --color-scale-9: 5%;
  --color-scale-8: 15%;
  --color-scale-7: 27%;
  --color-scale-6: 39%;
  --color-scale-5: 50%;
  --color-scale-4: 61%;
  --color-scale-3: 73%;
  --color-scale-2: 85%;
  --color-scale-1: 95%;
}

:root {
  // Font Families
  --ks-font-family-display: Montserrat, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  --ks-font-family-copy:
    system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande",
    "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  --ks-font-family-interface:
    system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande",
    "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  --ks-font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

  // Font Weights
  --ks-font-weight-light: 300;
  --ks-font-weight-regular: 400;
  --ks-font-weight-medium: 500;
  --ks-font-weight-semi-bold: 600;
  --ks-font-weight-bold: 700;
}

:root {
  --font-size-base: 16px;

  --font-size-display-shrink-factor: 0.925;
  --font-size-display-grow-factor: 1.3;

  --font-size-display-bp-factor: 1.02;

  --font-size-copy-shrink-factor: 0.85;
  --font-size-copy-grow-factor: 1.2;

  --font-size-copy-bp-factor: 1.01;

  --font-size-interface-shrink-factor: 0.85;
  --font-size-interface-grow-factor: 1.2;

  --font-size-interface-bp-factor: 1.01;

  --font-size-mono-shrink-factor: 0.85;
  --font-size-mono-grow-factor: 1.2;

  --font-size-mono-bp-factor: 1.01;
}
