:root {
  --ks-brand-color-primary: #581c87;
  --ks-brand-color-primary-inverted: #9e4bdd;
  --ks-brand-color-bg: #fafafa;
  --ks-brand-color-bg-inverted: #131820;
  --ks-brand-color-fg: #06081f;
  --ks-brand-color-fg-inverted: #ffffff;
  --ks-brand-color-link: #581c87;
  --ks-brand-color-link-inverted: #fff2fb;
  --ks-brand-color-positive: #23831b;
  --ks-brand-color-positive-inverted: #6edb64;
  --ks-brand-color-negative: #ff1a57;
  --ks-brand-color-negative-inverted: #d21d48;
  --ks-brand-color-notice: #64c2db;
  --ks-brand-color-notice-inverted: #00718f;
  --ks-brand-color-informative: #64c2db;
  --ks-brand-color-informative-inverted: #00718f;

  --ks-brand-color-scale-1: 95%;
  --ks-brand-color-scale-2: 90%;
  --ks-brand-color-scale-3: 81%;
  --ks-brand-color-scale-4: 68%;
  --ks-brand-color-scale-5: 50%;
  --ks-brand-color-scale-6: 32%;
  --ks-brand-color-scale-7: 19%;
  --ks-brand-color-scale-8: 10%;
  --ks-brand-color-scale-9: 5%;

  --ks-brand-color-onPrimary-inverted: #ffffff;
  --ks-brand-color-onPrimary: #ffffff;

  --ks-brand-font-family-display: Ramabhadra;
  --ks-brand-font-family-copy: Open Sans;
  --ks-brand-font-family-interface: Open Sans;
  --ks-brand-font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo,
    Consolas, "Liberation Mono", monospace;

  --ks-brand-font-weight-light: 300;
  --ks-brand-font-weight-regular: 400;
  --ks-brand-font-weight-medium: 500;
  --ks-brand-font-weight-semi-bold: 600;
  --ks-brand-font-weight-bold: 700;

  --ks-brand-font-size-display-base: 20px;
  --ks-brand-font-size-display-shrink-factor: 1.5;
  --ks-brand-font-size-display-grow-factor: 1.5;
  --ks-brand-font-size-display-bp-factor: 1.5;

  --ks-brand-font-size-copy-base: 16px;
  --ks-brand-font-size-copy-shrink-factor: 1.5;
  --ks-brand-font-size-copy-grow-factor: 1.5;
  --ks-brand-font-size-copy-bp-factor: 1.5;

  --ks-brand-font-size-interface-base: 16px;
  --ks-brand-font-size-interface-shrink-factor: 1.5;
  --ks-brand-font-size-interface-grow-factor: 1.5;
  --ks-brand-font-size-interface-bp-factor: 1.5;

  --ks-brand-font-size-mono-base: 16px;
  --ks-brand-font-size-mono-shrink-factor: 1.5;
  --ks-brand-font-size-mono-grow-factor: 1.5;
  --ks-brand-font-size-mono-bp-factor: 1.5;

  --ks-brand-spacing-factor: 1.5;
  --ks-brand-spacing-shrink-factor: 1.35;
  --ks-brand-spacing-grow-factor: 1.5;
  --ks-brand-spacing-bp-factor: 1.5;

  --ks-brand-border-width-default: 1px;
  --ks-brand-border-width-emphasized: 2px;

  --ks-brand-border-radius-factor: 1;

  --ks-brand-box-shadow-blur-factor: 1.5;
  --ks-brand-box-shadow-opacity-factor: 1.5;
  --ks-brand-box-shadow-spread-factor: 1;

  --ks-brand-duration-factor: 1.5;
}
