:root {
  --ks-brand-color-primary: #5d88ec;
  --ks-brand-color-primary-inverted: #00123d;
  --ks-brand-color-bg: #001036;
  --ks-brand-color-bg-inverted: #d4e4ff;
  --ks-brand-color-fg: #e4e9f9;
  --ks-brand-color-fg-inverted: #001036;
  --ks-brand-color-link: #5d88ec;
  --ks-brand-color-link-inverted: #00123d;
  --ks-brand-color-positive: #23831b;
  --ks-brand-color-positive-inverted: #6edb64;
  --ks-brand-color-negative: #ff1a57;
  --ks-brand-color-negative-inverted: #d21d48;
  --ks-brand-color-notice: #64c2db;
  --ks-brand-color-notice-inverted: #00718f;
  --ks-brand-color-informative: #64c2db;
  --ks-brand-color-informative-inverted: #00718f;
  --ks-brand-color-scale-1: 95%;
  --ks-brand-color-scale-2: 85%;
  --ks-brand-color-scale-3: 73%;
  --ks-brand-color-scale-4: 61%;
  --ks-brand-color-scale-5: 50%;
  --ks-brand-color-scale-6: 39%;
  --ks-brand-color-scale-7: 27%;
  --ks-brand-color-scale-8: 15%;
  --ks-brand-color-scale-9: 5%;
  --ks-brand-font-family-display: Rubik;
  --ks-brand-font-family-copy: "Noto Sans JP";
  --ks-brand-font-family-interface: "Noto Sans JP";
  --ks-brand-font-family-mono: ui-monospace,SFMono-Regular,"SF Mono",Menlo,Consolas,"Liberation Mono",monospace;
  --ks-brand-font-weight-light: 300;
  --ks-brand-font-weight-regular: 400;
  --ks-brand-font-weight-medium: 500;
  --ks-brand-font-weight-semi-bold: 600;
  --ks-brand-font-weight-bold: 700;
  --ks-brand-font-size-display-base: 20px;
  --ks-brand-font-size-display-shrink-factor: 1.5;
  --ks-brand-font-size-display-grow-factor: 1.5;
  --ks-brand-font-size-display-bp-factor: 1.5;
  --ks-brand-font-size-copy-base: 16px;
  --ks-brand-font-size-copy-shrink-factor: 1.5;
  --ks-brand-font-size-copy-grow-factor: 1.5;
  --ks-brand-font-size-copy-bp-factor: 1.5;
  --ks-brand-font-size-interface-base: 14px;
  --ks-brand-font-size-interface-shrink-factor: 1.5;
  --ks-brand-font-size-interface-grow-factor: 1.5;
  --ks-brand-font-size-interface-bp-factor: 1.5;
  --ks-brand-font-size-mono-base: 14px;
  --ks-brand-font-size-mono-shrink-factor: 1.5;
  --ks-brand-font-size-mono-grow-factor: 1.5;
  --ks-brand-font-size-mono-bp-factor: 1.5;
  --ks-brand-spacing-base: 20px;
  --ks-brand-spacing-shrink-factor: 1.4;
  --ks-brand-spacing-grow-factor: 1.5;
  --ks-brand-spacing-bp-factor: 1.75;
  --ks-brand-duration-factor: 2;
  --ks-brand-box-shadow-blur-factor: 1.48;
  --ks-brand-box-shadow-opacity-factor: 1.51;
  --ks-brand-border-width-default: 2px;
}
