:root {
  --ks-brand-color-primary: #e21879;
  --ks-brand-color-primary-inverted: #6642f6;
  --ks-brand-color-bg: #06081f;
  --ks-brand-color-bg-inverted: #f1f1f3;
  --ks-brand-color-fg: #ffffff;
  --ks-brand-color-fg-inverted: #06081f;
  --ks-brand-color-link: #b7a5ff;
  --ks-brand-color-link-inverted: #6642f6;
  --ks-brand-color-positive: #23831b;
  --ks-brand-color-positive-inverted: #6edb64;
  --ks-brand-color-negative: #ff1a57;
  --ks-brand-color-negative-inverted: #d21d48;
  --ks-brand-color-notice: #64c2db;
  --ks-brand-color-notice-inverted: #00718f;
  --ks-brand-color-informative: #64c2db;
  --ks-brand-color-informative-inverted: #00718f;
  --ks-brand-color-scale-1: 95%;
  --ks-brand-color-scale-2: 90%;
  --ks-brand-color-scale-3: 81%;
  --ks-brand-color-scale-4: 68%;
  --ks-brand-color-scale-5: 50%;
  --ks-brand-color-scale-6: 32%;
  --ks-brand-color-scale-7: 19%;
  --ks-brand-color-scale-8: 10%;
  --ks-brand-color-scale-9: 5%;
  --ks-brand-color-onPrimary: #ffffff;
  --ks-brand-color-onPrimary-inverted: #ffffff;
  --ks-brand-font-family-display: Montserrat,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
  --ks-brand-font-family-copy: Montserrat;
  --ks-brand-font-family-interface: Montserrat;
  --ks-brand-font-family-mono: ui-monospace,SFMono-Regular,"SF Mono",Menlo,Consolas,"Liberation Mono",monospace;
  --ks-brand-font-weight-light: 300;
  --ks-brand-font-weight-regular: 400;
  --ks-brand-font-weight-medium: 500;
  --ks-brand-font-weight-semi-bold: 600;
  --ks-brand-font-weight-bold: 700;
  --ks-brand-font-size-display-base: 20px;
  --ks-brand-font-size-display-shrink-factor: 1.5;
  --ks-brand-font-size-display-grow-factor: 1.5;
  --ks-brand-font-size-display-bp-factor: 1.5;
  --ks-brand-font-size-copy-base: 18px;
  --ks-brand-font-size-copy-shrink-factor: 1.5;
  --ks-brand-font-size-copy-grow-factor: 1.5;
  --ks-brand-font-size-copy-bp-factor: 1.5;
  --ks-brand-font-size-interface-base: 18px;
  --ks-brand-font-size-interface-shrink-factor: 1.5;
  --ks-brand-font-size-interface-grow-factor: 1.5;
  --ks-brand-font-size-interface-bp-factor: 1.5;
  --ks-brand-font-size-mono-base: 18px;
  --ks-brand-font-size-mono-shrink-factor: 1.5;
  --ks-brand-font-size-mono-grow-factor: 1.5;
  --ks-brand-font-size-mono-bp-factor: 1.5;
  --ks-brand-spacing-base: 18px;
  --ks-brand-spacing-shrink-factor: 1.5;
  --ks-brand-spacing-grow-factor: 1.5;
  --ks-brand-spacing-bp-factor: 1.5;
  --ks-brand-border-width-default: 1px;
  --ks-brand-duration-factor: 1.51;
  --ks-brand-box-shadow-blur-factor: 1.48;
  --ks-brand-box-shadow-spread-factor: 1.49;
  --ks-brand-box-shadow-opacity-factor: 1.51;
}
