:root {
  // Colors
  --color-primary: rgb(255, 169, 89);
  --color-primary-inverted: rgb(255, 169, 89);

  --color-on-primary: var(--color-fg-inverted);
  --color-on-primary-inverted: black;

  --color-bg: oklch(24% 0.023 329.708);
  --color-bg-inverted: #0f203e;

  --color-fg: rgb(255, 169, 89);
  --color-fg-inverted: oklch(24% 0.023 329.708);

  --color-link: oklch(90.382% 0.06694 65.317);
  --color-link-inverted: #98b2e0;

  --color-positive: #23831b;
  --color-positive-inverted: #6edb64;

  --color-negative: #ff1a57;
  --color-negative-inverted: #d21d48;

  --color-informative: #64c2db;
  --color-informative-inverted: #00718f;

  --color-notice: #64c2db;
  --color-notice-inverted: #00718f;

  --color-scale-9: 5%;
  --color-scale-8: 15%;
  --color-scale-7: 27%;
  --color-scale-6: 39%;
  --color-scale-5: 50%;
  --color-scale-4: 61%;
  --color-scale-3: 73%;
  --color-scale-2: 85%;
  --color-scale-1: 95%;
}

:root {
  // Font Families
  --ks-font-family-display: Montserrat, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  --ks-font-family-copy:
    system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande",
    "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  --ks-font-family-interface:
    system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande",
    "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  --ks-font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

  // Font Weights
  --ks-font-weight-light: 300;
  --ks-font-weight-regular: 400;
  --ks-font-weight-medium: 500;
  --ks-font-weight-semi-bold: 600;
  --ks-font-weight-bold: 700;
}

// Normalized user input tokens (range: 1-2)

/*
Shrink Factor:      Determine scaling from m to xxs
Grow Factor:        Determine scaling from m to xxl
Breakpoint Factor:  Higher bp factor means large spacings increase
                    more at bigger screen sizes than small spacings
*/

/// Font Size
:root {
  --font-size-display-base: 20px;
  --font-size-display-shrink-factor-input: 1.5;
  --font-size-display-grow-factor-input: 1.5;
  --font-size-display-bp-factor-input: 1.5;

  --font-size-copy-base: 14px;
  --font-size-copy-shrink-factor-input: 1.5;
  --font-size-copy-grow-factor-input: 1.5;
  --font-size-copy-bp-factor-input: 1.5;

  --font-size-interface-base: 14px;
  --font-size-interface-shrink-factor-input: 1.5;
  --font-size-interface-grow-factor-input: 1.5;
  --font-size-interface-bp-factor-input: 1.5;

  --font-size-mono-base: 14px;
  --font-size-mono-shrink-factor-input: 1.5;
  --font-size-mono-grow-factor-input: 1.5;
  --font-size-mono-bp-factor-input: 1.5;
}

/// Spacing
:root {
  --spacing-base: 14px;
  --spacing-shrink-factor-input: 1.5;
  --spacing-grow-factor-input: 1.5;
  --spacing-bp-factor-input: 1.5;
}

// Border
:root {
  --ks-border-width-default: 1px;
  --ks-border-width-emphasized: 2px;

  --ks-border-radius-control: var(--ks-spacing-xs);
  --ks-border-radius-card: var(--ks-spacing-s);
  --ks-border-radius-surface: var(--ks-spacing-m);
}
