:root,
[ks-theme] {
  --ks-box-shadow-card-color-base: red;
  --ks-box-shadow-card-color-inverted-base: green;
}

:root {
  --ks-box-shadow-card-color: var(--ks-box-shadow-card-color-base);
  --ks-box-shadow-card-color-inverted: var(--ks-box-shadow-card-color-inverted-base);
}

[ks-inverted="true"] {
  --ks-box-shadow-card-color: var(--ks-box-shadow-card-color-inverted-base);
  --ks-box-shadow-card-color-inverted: var(--ks-box-shadow-card-color-base);
}

:root {
  --ks-box-shadow-card: 0px 0px 0px 6px var(--ks-box-shadow-card-color);
}

// :root {
//   --ks-box-shadow-card:
//     0px calc(1px * var(--ks-box-shadow-card-spread-factor-base))
//       calc(1px * var(--ks-box-shadow-card-spread-factor-base) * 2) red,
//     0px calc(1px * var(--ks-box-shadow-card-spread-factor-base) * 3)
//       calc(1px * var(--ks-box-shadow-card-spread-factor-base) * 4) red,
//     0px calc(1px * var(--ks-box-shadow-card-spread-factor-base) * 5)
//       calc(1px * var(--ks-box-shadow-card-spread-factor-base) * 6) red;
// }
