// Branding
:root,
[ks-theme],
[ks-inverted="false"],
[ks-inverted="true"] {
  // Calculated BP Factor
  --ks-scale-spacing-xxs-bp-factor: calc(1 * var(--spacing-bp-factor));
  --ks-scale-spacing-xs-bp-factor: calc(var(--ks-scale-spacing-xxs-bp-factor) * var(--spacing-bp-factor));
  --ks-scale-spacing-s-bp-factor: calc(var(--ks-scale-spacing-xs-bp-factor) * var(--spacing-bp-factor));
  --ks-scale-spacing-m-bp-factor: calc(var(--ks-scale-spacing-s-bp-factor) * var(--spacing-bp-factor));
  --ks-scale-spacing-l-bp-factor: calc(var(--ks-scale-spacing-m-bp-factor) * var(--spacing-bp-factor));
  --ks-scale-spacing-xl-bp-factor: calc(var(--ks-scale-spacing-l-bp-factor) * var(--spacing-bp-factor));
  --ks-scale-spacing-xxl-bp-factor: calc(var(--ks-scale-spacing-xl-bp-factor) * var(--spacing-bp-factor));
}

// Base Token
// Calculated Growth/Shrink of the spacing
:root,
[ks-theme],
[ks-inverted="false"],
[ks-inverted="true"] {
  --ks-spacing-xxs-base: calc(var(--ks-spacing-xs-base) * calc(var(--ks-scale-spacing-shrink-factor) * 1));
  --ks-spacing-xs-base: calc(var(--ks-spacing-s-base) * calc(var(--ks-scale-spacing-shrink-factor) * 1));
  --ks-spacing-s-base: calc(var(--ks-spacing-m-base) * calc(var(--ks-scale-spacing-shrink-factor) * 1));
  --ks-spacing-m-base: var(--ks-brand-spacing-base);
  --ks-spacing-l-base: calc(var(--ks-spacing-m-base) * var(--ks-scale-spacing-grow-factor));
  --ks-spacing-xl-base: calc(var(--ks-spacing-l-base) * var(--ks-scale-spacing-grow-factor));
  --ks-spacing-xxl-base: calc(var(--ks-spacing-xl-base) * var(--ks-scale-spacing-grow-factor));
}

// BP-Factor Calculation
// (Small Spacing: Lower Breakpoint Scaling / Large Spacing: Larger Breakpoint Scaling)
:root,
[ks-theme],
[ks-inverted="false"],
[ks-inverted="true"] {
  --ks-spacing-xxs-bp-factor-phone: calc(1 * var(--ks-scale-spacing-xxs-bp-factor));
  --ks-spacing-xxs-bp-factor-tablet: calc(
    var(--ks-spacing-xxs-bp-factor-phone) * var(--ks-scale-spacing-xxs-bp-factor)
  );
  --ks-spacing-xxs-bp-factor-laptop: calc(
    var(--ks-spacing-xxs-bp-factor-tablet) * var(--ks-scale-spacing-xxs-bp-factor)
  );
  --ks-spacing-xxs-bp-factor-desktop: calc(
    var(--ks-spacing-xxs-bp-factor-laptop) * var(--ks-scale-spacing-xxs-bp-factor)
  );

  --ks-spacing-xs-bp-factor-phone: calc(1 * var(--ks-scale-spacing-xs-bp-factor));
  --ks-spacing-xs-bp-factor-tablet: calc(var(--ks-spacing-xs-bp-factor-phone) * var(--ks-scale-spacing-xs-bp-factor));
  --ks-spacing-xs-bp-factor-laptop: calc(var(--ks-spacing-xs-bp-factor-tablet) * var(--ks-scale-spacing-xs-bp-factor));
  --ks-spacing-xs-bp-factor-desktop: calc(var(--ks-spacing-xs-bp-factor-laptop) * var(--ks-scale-spacing-xs-bp-factor));

  --ks-spacing-s-bp-factor-phone: calc(1 * var(--ks-scale-spacing-s-bp-factor));
  --ks-spacing-s-bp-factor-tablet: calc(var(--ks-spacing-s-bp-factor-phone) * var(--ks-scale-spacing-s-bp-factor));
  --ks-spacing-s-bp-factor-laptop: calc(var(--ks-spacing-s-bp-factor-tablet) * var(--ks-scale-spacing-s-bp-factor));
  --ks-spacing-s-bp-factor-desktop: calc(var(--ks-spacing-s-bp-factor-laptop) * var(--ks-scale-spacing-s-bp-factor));

  --ks-spacing-m-bp-factor-phone: calc(1 * var(--ks-scale-spacing-m-bp-factor));
  --ks-spacing-m-bp-factor-tablet: calc(var(--ks-spacing-m-bp-factor-phone) * var(--ks-scale-spacing-m-bp-factor));
  --ks-spacing-m-bp-factor-laptop: calc(var(--ks-spacing-m-bp-factor-tablet) * var(--ks-scale-spacing-m-bp-factor));
  --ks-spacing-m-bp-factor-desktop: calc(var(--ks-spacing-m-bp-factor-laptop) * var(--ks-scale-spacing-m-bp-factor));

  --ks-spacing-l-bp-factor-phone: calc(1 * var(--ks-scale-spacing-l-bp-factor));
  --ks-spacing-l-bp-factor-tablet: calc(var(--ks-spacing-l-bp-factor-phone) * var(--ks-scale-spacing-l-bp-factor));
  --ks-spacing-l-bp-factor-laptop: calc(var(--ks-spacing-l-bp-factor-tablet) * var(--ks-scale-spacing-l-bp-factor));
  --ks-spacing-l-bp-factor-desktop: calc(var(--ks-spacing-l-bp-factor-laptop) * var(--ks-scale-spacing-l-bp-factor));

  --ks-spacing-xl-bp-factor-phone: calc(1 * var(--ks-scale-spacing-xl-bp-factor));
  --ks-spacing-xl-bp-factor-tablet: calc(var(--ks-spacing-xl-bp-factor-phone) * var(--ks-scale-spacing-xl-bp-factor));
  --ks-spacing-xl-bp-factor-laptop: calc(var(--ks-spacing-xl-bp-factor-tablet) * var(--ks-scale-spacing-xl-bp-factor));
  --ks-spacing-xl-bp-factor-desktop: calc(var(--ks-spacing-xl-bp-factor-laptop) * var(--ks-scale-spacing-xl-bp-factor));

  --ks-spacing-xxl-bp-factor-phone: calc(1 * var(--ks-scale-spacing-xxl-bp-factor));
  --ks-spacing-xxl-bp-factor-tablet: calc(
    var(--ks-spacing-xxl-bp-factor-phone) * var(--ks-scale-spacing-xxl-bp-factor)
  );
  --ks-spacing-xxl-bp-factor-laptop: calc(
    var(--ks-spacing-xxl-bp-factor-tablet) * var(--ks-scale-spacing-xxl-bp-factor)
  );
  --ks-spacing-xxl-bp-factor-desktop: calc(
    var(--ks-spacing-xxl-bp-factor-laptop) * var(--ks-scale-spacing-xxl-bp-factor)
  );
}

:root,
[ks-theme],
[ks-inverted="false"],
[ks-inverted="true"] {
  --ks-spacing-stack-xxs: var(--ks-spacing-xxs);
  --ks-spacing-stack-xs: var(--ks-spacing-xs);
  --ks-spacing-stack-s: var(--ks-spacing-s);
  --ks-spacing-stack-m: var(--ks-spacing-m);
  --ks-spacing-stack-l: var(--ks-spacing-l);
  --ks-spacing-stack-xl: var(--ks-spacing-xl);
  --ks-spacing-stack-xxl: var(--ks-spacing-xxl);

  --ks-spacing-inline-xxs: var(--ks-spacing-xxs);
  --ks-spacing-inline-xs: var(--ks-spacing-xs);
  --ks-spacing-inline-s: var(--ks-spacing-s);
  --ks-spacing-inline-m: var(--ks-spacing-m);
  --ks-spacing-inline-l: var(--ks-spacing-l);
  --ks-spacing-inline-xl: var(--ks-spacing-xl);
  --ks-spacing-inline-xxl: var(--ks-spacing-xxl);

  --ks-spacing-inset-xxs: var(--ks-spacing-xxs);
  --ks-spacing-inset-xs: var(--ks-spacing-xs);
  --ks-spacing-inset-s: var(--ks-spacing-s);
  --ks-spacing-inset-m: var(--ks-spacing-m);
  --ks-spacing-inset-l: var(--ks-spacing-l);
  --ks-spacing-inset-xl: var(--ks-spacing-xl);
  --ks-spacing-inset-xxl: var(--ks-spacing-xxl);

  --ks-spacing-inset-squish-xxs: var(--ks-spacing-xs) var(--ks-spacing-xxs);
  --ks-spacing-inset-squish-xs: var(--ks-spacing-s) var(--ks-spacing-xs);
  --ks-spacing-inset-squish-s: var(--ks-spacing-m) var(--ks-spacing-s);
  --ks-spacing-inset-squish-m: var(--ks-spacing-l) var(--ks-spacing-m);
  --ks-spacing-inset-squish-l: var(--ks-spacing-xl) var(--ks-spacing-l);
  --ks-spacing-inset-squish-xl: var(--ks-spacing-xxl) var(--ks-spacing-xl);
  --ks-spacing-inset-squish-xxl: calc(var(--ks-spacing-xxl) * 1.25) var(--ks-spacing-xxl);

  --ks-spacing-inset-squish-xxs: var(--ks-spacing-xxs) var(--ks-spacing-xs);
  --ks-spacing-inset-squish-xs: var(--ks-spacing-xs) var(--ks-spacing-s);
  --ks-spacing-inset-squish-s: var(--ks-spacing-s) var(--ks-spacing-m);
  --ks-spacing-inset-squish-m: var(--ks-spacing-m) var(--ks-spacing-l);
  --ks-spacing-inset-squish-l: var(--ks-spacing-l) var(--ks-spacing-xl);
  --ks-spacing-inset-squish-xl: var(--ks-spacing-xl) var(--ks-spacing-xxl);
  --ks-spacing-inset-squish-xxl: var(--ks-spacing-xxl) calc(var(--ks-spacing-xxxl) * 1.25);
}

// Spacings get BP-factor applied
:root,
[ks-theme],
[ks-inverted="false"],
[ks-inverted="true"] {
  --ks-spacing-xxs: calc(var(--ks-spacing-xxs-base) * var(--ks-spacing-xxs-bp-factor, 1));
  --ks-spacing-xs: calc(var(--ks-spacing-xs-base) * var(--ks-spacing-xs-bp-factor, 1));
  --ks-spacing-s: calc(var(--ks-spacing-s-base) * var(--ks-spacing-s-bp-factor, 1));
  --ks-spacing-m: calc(var(--ks-spacing-m-base) * var(--ks-spacing-m-bp-factor, 1));
  --ks-spacing-l: calc(var(--ks-spacing-l-base) * var(--ks-spacing-l-bp-factor, 1));
  --ks-spacing-xl: calc(var(--ks-spacing-xl-base) * var(--ks-spacing-xl-bp-factor, 1));
  --ks-spacing-xxl: calc(var(--ks-spacing-xxl-base) * var(--ks-spacing-xxl-bp-factor, 1));
}

// BP-factor gets redefined on each breakpoints
@media (min-width: 36em) {
  :root,
  [ks-theme],
  [ks-inverted="false"],
  [ks-inverted="true"] {
    --ks-spacing-xxs-bp-factor: var(--ks-spacing-xxs-bp-factor-phone);
    --ks-spacing-xs-bp-factor: var(--ks-spacing-xs-bp-factor-phone);
    --ks-spacing-s-bp-factor: var(--ks-spacing-s-bp-factor-phone);
    --ks-spacing-m-bp-factor: var(--ks-spacing-m-bp-factor-phone);
    --ks-spacing-l-bp-factor: var(--ks-spacing-l-bp-factor-phone);
    --ks-spacing-xl-bp-factor: var(--ks-spacing-xl-bp-factor-phone);
    --ks-spacing-xxl-bp-factor: var(--ks-spacing-xxl-bp-factor-phone);
  }
}

@media (min-width: 48em) {
  :root,
  [ks-theme],
  [ks-inverted="false"],
  [ks-inverted="true"] {
    --ks-spacing-xxs-bp-factor: var(--ks-spacing-xxs-bp-factor-tablet);
    --ks-spacing-xs-bp-factor: var(--ks-spacing-xs-bp-factor-tablet);
    --ks-spacing-s-bp-factor: var(--ks-spacing-s-bp-factor-tablet);
    --ks-spacing-m-bp-factor: var(--ks-spacing-m-bp-factor-tablet);
    --ks-spacing-l-bp-factor: var(--ks-spacing-l-bp-factor-tablet);
    --ks-spacing-xl-bp-factor: var(--ks-spacing-xl-bp-factor-tablet);
    --ks-spacing-xxl-bp-factor: var(--ks-spacing-xxl-bp-factor-tablet);
  }
}

@media (min-width: 62em) {
  :root,
  [ks-theme],
  [ks-inverted="false"],
  [ks-inverted="true"] {
    --ks-spacing-xxs-bp-factor: var(--ks-spacing-xxs-bp-factor-laptop);
    --ks-spacing-xs-bp-factor: var(--ks-spacing-xs-bp-factor-laptop);
    --ks-spacing-s-bp-factor: var(--ks-spacing-s-bp-factor-laptop);
    --ks-spacing-m-bp-factor: var(--ks-spacing-m-bp-factor-laptop);
    --ks-spacing-l-bp-factor: var(--ks-spacing-l-bp-factor-laptop);
    --ks-spacing-xl-bp-factor: var(--ks-spacing-xl-bp-factor-laptop);
    --ks-spacing-xxl-bp-factor: var(--ks-spacing-xxl-bp-factor-laptop);
  }
}

@media (min-width: 75em) {
  :root,
  [ks-theme],
  [ks-inverted="false"],
  [ks-inverted="true"] {
    --ks-spacing-xxs-bp-factor: var(--ks-spacing-xxs-bp-factor-desktop);
    --ks-spacing-xs-bp-factor: var(--ks-spacing-xs-bp-factor-desktop);
    --ks-spacing-s-bp-factor: var(--ks-spacing-s-bp-factor-desktop);
    --ks-spacing-m-bp-factor: var(--ks-spacing-m-bp-factor-desktop);
    --ks-spacing-l-bp-factor: var(--ks-spacing-l-bp-factor-desktop);
    --ks-spacing-xl-bp-factor: var(--ks-spacing-xl-bp-factor-desktop);
    --ks-spacing-xxl-bp-factor: var(--ks-spacing-xxl-bp-factor-desktop);
  }
}
