/**
 * CTA block editor styles
 */

.wp-block-dsa-cta {
  // Ensure proper InnerBlocks display
  .block-editor-inner-blocks {
    width: 100%;
  }

  // RichText placeholders
  .block-editor-rich-text__editable {
    &:focus {
      outline: none;
    }

    &[data-rich-text-placeholder]::before {
      color: var(--wp-admin-theme-color-darker-20, #666);
      opacity: 0.6;
    }
  }
}
