@use "@kickstartds/core/source/core/container";
@import "event-list-teaser-tokens.scss";
@include container.wrapper("event-list-teaser");

.dsa-event-list-teaser {
  --g-link--border-radius: var(--ks-border-radius-card);
  display: block;
  border: var(--ks-border-width-default) solid var(--ks-border-color-card-interactive);
  display: flex;
  flex-direction: column;
  padding: var(--ks-spacing-inset-stretch-m);
  gap: var(--ks-spacing-stack-m) var(--ks-spacing-inline-m);
  position: relative;
  flex-wrap: wrap;

  &:hover {
    border-color: var(--ks-border-color-card-interactive-hover);

    .dsa-event-list-teaser__categories {
      border-color: var(--ks-border-color-card-interactive-hover);
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-stack-s) var(--ks-spacing-inline-s);
  }

  &__content {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: var(--ks-spacing-stack-s);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-stack-s);
    flex-basis: var(--dsa-tile--width_small);
    flex-grow: 10;
    flex-shrink: 0;
  }

  &__image {
    flex-shrink: 1;
    flex-grow: 5;
    flex-basis: var(--dsa-tile--width_smallest);
    aspect-ratio: 4/3;

    img {
      object-fit: cover;
      border-radius: var(--ks-border-radius-card);
      width: 100%;
      aspect-ratio: 4/3;
    }
  }

  &__teaser-text {
    font: var(--ks-font-copy-s);
    color: var(--ks-text-color-interface);
    margin: 0;
  }

  &__title {
    max-width: var(--dsa-tile--width_large);
    font: var(--ks-font-display-m);
    font-weight: var(--ks-font-weight-semi-bold);
    color: var(--ks-text-color-display);
  }

  &__address {
    margin: 0;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ks-spacing-stack-s) var(--ks-spacing-inline-s);
  }

  &__date {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-xxs);

    > .dsa-event-list-teaser__info:first-child {
      font-weight: var(--ks-font-weight-semi-bold);
    }
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ks-spacing-xxs) var(--ks-spacing-xxs);
    max-width: var(--dsa-tile--width_small);
  }

  &__infos {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-stack-s);
    background-color: var(--ks-background-color-accent);
    padding: var(--ks-spacing-inset-s);
    border-radius: var(--ks-border-radius-card);
  }

  &__location {
    flex-basis: var(--dsa-tile--width_small);
  }

  &__name {
    font-weight: var(--ks-font-weight-semi-bold);
    color: var(--dsa-topic--color);
  }

  &__info {
    display: flex;
    gap: calc(var(--ks-spacing-xxs) * 0.75);
    font: var(--ks-font-interface-s);
    align-items: center;
    justify-content: flex-start;
    color: var(--ks-text-color-interface);

    &--location {
      flex-basis: 100%;
    }

    .icon {
      align-self: flex-start;
      width: calc(var(--ks-font-size-interface-s) * var(--ks-line-height-interface-s));
      height: calc(var(--ks-font-size-interface-s) * var(--ks-line-height-interface-s));
      color: var(--ks-text-color-primary);
      flex-shrink: 0;
    }
  }

  &__cta {
    font: var(--ks-font-interface-s);
    font-weight: var(--ks-font-weight-semi-bold);
    color: var(--ks-text-color-primary);
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    width: fit-content;

    .icon {
      width: calc(var(--ks-font-size-interface-s) * var(--ks-line-height-interface-s));
      height: calc(var(--ks-font-size-interface-s) * var(--ks-line-height-interface-s));
      color: var(--ks-text-color-primary);
      flex-shrink: 0;
      flex-grow: 1;
    }
  }
}
