.box-shadow-swatch {
  width: 200px;
  height: 200px;
  background: var(--ks-background-color-default);
  border-radius: 8px;
  margin-bottom: 0.5rem;
  transition: box-shadow 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--ks-border-color-default) 1px solid;
}

.box-shadow-swatch__canvas {
  width: 60%;
  height: 60%;
  border-radius: 8px;
}
