.token-color-swatch {
  border-radius: 4px;
  border: 1px solid var(--ks-color-fg-to-bg-2);
  background-color: var(--ks-color-bg);
  padding: 0.5em;
  position: relative;
  transition: var(--ks-transition-hover);

  &:hover {
    background-color: var(--ks-color-bg-to-fg-9);

    .copy-tooltip {
      opacity: 1;
      transform: translate(-50%, -120%);
    }
  }

  &--borderColor {
    .token-color-swatch__canvas {
      border: 1px solid;
    }
  }

  &--color {
    .token-color-swatch__canvas {
      height: fit-content;
    }
  }

  &__canvas {
    font: var(--ks-font-copy-l);
    width: 100px;
    height: 28px;
    border-radius: 4px;
  }

  &__title {
    margin-top: 0.5em;
    font: var(--ks-font-mono-xs);
    color: var(--ks-color-fg);
  }
}
