.token-color-swatch {
  border-radius: 4px;
  border: 1px solid rgb(220, 220, 220);
  background-color: var(--ks-color-bg);
  padding: 0.5em;

  &--borderColor {
    .token-color-swatch__canvas {
      border: 1px solid;
    }
  }

  &--color {
    .token-color-swatch__canvas {
      height: fit-content;
    }
  }

  &__canvas {
    font: var(--ks-font-copy-l);
    width: 100px;
    height: 28px;
    border-radius: 4px;
  }

  &__title {
    margin-top: 0.5em;
    font: var(--ks-font-mono-xs);
    color: var(--ks-color-fg);
  }
}
