.token-color-swatch {
  border-radius: 4px;
  border: 1px solid var(--ks-border-color-interface-interactive);
  background-color: var(--ks-color-bg);
  padding: 0.5em;
  position: relative;
  transition: var(--ks-transition-hover);

  &:hover {
    background-color: var(--ks-color-bg-to-fg-9);

    .copy-tooltip {
      opacity: 1;
      transform: translate(-50%, -120%);
    }
  }

  &--contrast-border {
    .token-color-swatch__canvas {
      box-shadow: 0 0 0 1px solid var(--ks-color-fg-alpha-2);
    }
  }

  &--inverted-background {
    background-color: var(--ks-color-bg-inverted);
    border-color: var(--ks-color-fg-inverted-to-bg-2);

    .token-color-swatch__title {
      color: var(--ks-color-fg-inverted);
    }

    &:hover {
      background-color: var(--ks-color-bg-inverted-to-fg-9);
    }
  }

  &--gradient-background {
    background-image: url("./img/bg-color-swatch.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-color: var(--ks-color-fg-to-bg-4);

    &::before {
      z-index: 0;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--ks-color-fg-alpha-1);
      opacity: 0;
      border-radius: 4px;
      pointer-events: none;
      transition: var(--ks-transition-hover) opacity;
    }

    &:hover {
      border-color: var(--ks-color-fg-to-bg-6);

      &::before {
        opacity: 1;
      }
    }

    &[ks-inverted="true"] {
      border-color: var(--ks-color-fg-inverted-to-bg-4);

      &:hover {
        border-color: var(--ks-color-fg-inverted-to-bg-6);
      }
    }
  }

  &--borderColor {
    .token-color-swatch__canvas {
      border: 1px solid;
    }
  }

  &--color {
    .token-color-swatch__canvas {
      height: fit-content;
    }
  }

  &__canvas {
    position: relative;
    z-index: 2;
    font: var(--ks-font-copy-l);
    width: 100px;
    height: 28px;
    border-radius: 4px;
  }

  &__title {
    margin-top: 0.5em;
    font: var(--ks-font-mono-xs);
    color: var(--ks-color-fg);
  }
}
