.theme-preview {
  --size: 40px;
  position: relative;
  aspect-ratio: 1 / 1;
  height: var(--size);
  width: var(--size);
  border-radius: 4px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 10px -1px;
  overflow: hidden;

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__half {
    z-index: 3;
    position: relative;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10%;
    width: 100%;
    height: 100%;
    background-color: var(--ks-color-bg);

    &:first-child {
      > * {
        transform: translateX(5%);
      }
    }
    &:last-child {
      > * {
        transform: translateX(-5%);
      }
    }
  }

  &__swatch {
    position: relative;
    z-index: 2;
    height: 30%;
    aspect-ratio: 1;
    border-radius: 100%;
  }
}
