@use "headline-tokens.scss";

.dsa-headline {
  max-width: unset;
  display: flex;
  flex-direction: column;
  gap: var(--dsa-headline--gap, 0.25em);

  &__inner {
    position: relative;
  }

  &__anchor {
    --g-link--text-decoration: none;
    visibility: hidden;
    position: absolute;
    margin-left: var(--dsa-headline__anchor--margin-left, var(--ks-spacing-inline-s));
    transform: var(--dsa-headline__anchor--transform);

    .icon {
      width: var(--dsa-headline__anchor--size, 1em);
      height: var(--dsa-headline__anchor--size, 1em);
    }
  }

  &:hover {
    .dsa-headline__anchor {
      visibility: visible;
    }
  }

  &--h1 {
    --subheadline--font-size: var(--dsa-headline_h1__subheadline--font-size, 50%);
    --headline--space-after_minimum: var(--dsa-headline_h1--space-after_minimum);
    --headline--space-after_small: var(--dsa-headline_h1--space-after_small);
    --headline--space-after_large: var(--dsa-headline_h1--space-after_large);
    font: var(--dsa-headline_h1--font, var(--ks-font-display-xxl));
  }

  &--h2 {
    --subheadline--font-size: var(--dsa-headline_h2__subheadline--font-size, 50%);
    --headline--space-after_minimum: var(--dsa-headline_h2--space-after_minimum);
    --headline--space-after_small: var(--dsa-headline_h2--space-after_small);
    --headline--space-after_large: var(--dsa-headline_h2--space-after_large);
    font: var(--dsa-headline_h2--font, var(--ks-font-display-xl));
  }

  &--h3 {
    --subheadline--font-size: var(--dsa-headline_h3__subheadline--font-size, 50%);
    --headline--space-after_minimum: var(--dsa-headline_h3--space-after_minimum);
    --headline--space-after_small: var(--dsa-headline_h3--space-after_small);
    --headline--space-after_large: var(--dsa-headline_h3--space-after_large);
    font: var(--dsa-headline_h3--font, var(--ks-font-display-l));
  }

  &--h4 {
    --subheadline--font-size: var(--dsa-headline_h4__subheadline--font-size, 75%);
    --headline--space-after_minimum: var(--dsa-headline_h4--space-after_minimum);
    --headline--space-after_small: var(--dsa-headline_h4--space-after_small);
    --headline--space-after_large: var(--dsa-headline_h4--space-after_large);
    font: var(--dsa-headline_h4--font, var(--ks-font-display-m));
  }

  &--p {
    --subheadline--font-size: var(--dsa-headline_p__subheadline--font-size, 75%);
    --headline--space-after_minimum: var(--dsa-headline_p--space-after_minimum);
    --headline--space-after_small: var(--dsa-headline_p--space-after_small);
    --headline--space-after_large: var(--dsa-headline_p--space-after_large);
    font: var(--dsa-headline_p--font, var(--ks-font-copy-m));
  }

  .dsa-headline__headline {
    color: var(--dsa-headline--color, var(--ks-text-color-display));
    font: inherit;
    font-weight: var(--dsa-headline--font-weight);
    text-transform: var(--dsa-headline--text-transform);
    margin: 0;
  }

  .dsa-headline__subheadline {
    font-family: var(--dsa-headline__subheadline--font-family);
    font-size: var(--subheadline--font-size, 50%);
    margin: 0;
    max-width: var(--dsa-content--width_default);
    color: var(--dsa-headline__subheadline--color, var(--ks-text-color-primary));
    font-weight: var(--dsa-headline__subheadline--font-weight, var(--ks-font-weight-bold));
    text-transform: var(--dsa-headline__subheadline--text-transform, none);
    letter-spacing: var(--dsa-headline__subheadline--letter-spacing, 0);
  }

  &--space-after-minimum {
    margin-bottom: var(--headline--space-after_minimum);
  }

  &--space-after-small {
    margin-bottom: var(--headline--space-after_small);
  }

  &--space-after-large {
    margin-bottom: var(--headline--space-after_large);
  }

  &--align-center {
    .dsa-headline__headline {
      text-align: center;
    }

    .dsa-headline__subheadline {
      text-align: center;
      margin: auto;
    }
  }
  &--align-right {
    .dsa-headline__headline {
      text-align: right;
    }

    .dsa-headline__subheadline {
      text-align: right;
      margin-left: auto;
    }

    .dsa-headline__anchor {
      top: 0;
      right: 100%;
    }
  }
}

.dsa-headline,
h1,
h2,
h3,
h4,
h5 {
  strong {
    font-weight: inherit;
    background: var(--dsa-headline--higlight-background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
