.l-split-even {
  --dsa-split-even--gutter_small: var(--ks-spacing-stack-s) var(--ks-spacing-inline-s);
  --dsa-split-even--gutter_default: var(--ks-spacing-stack-m) var(--ks-spacing-inline-m);
  --dsa-split-even--gutter_large: var(--ks-spacing-stack-l) var(--ks-spacing-inline-l);

  --dsa-split-even__section--top-offset: var(--ks-spacing-stack-l);
  --dsa-split-even__section--top-margin: var(--ks-spacing-stack-l);

  --dsa-split-even__section--flex-basis_narrow: var(--dsa-tile--width_small);
  --dsa-split-even__section--flex-basis_medium: var(--dsa-tile--width_medium);
  --dsa-split-even__section--flex-basis_wide: var(--dsa-tile--width_large);
}
