.shadows {
  &-row {
    gap: 20px;
    margin-bottom: 20px;
  }

  &-control {
    .shadow {
      height: 40px;
      width: 100px;
    }
  }

  &-card {
    .shadow {
      height: 400px;
      width: 300px;
    }
  }

  &-surface {
    .shadow {
      height: 400px;
      width: 100%;
    }
  }
}

.shadow {
  border-radius: 6px;
  display: inline-block;
}
