.shadows {
  &-row {
    gap: 20px;
    margin-bottom: 60px;
  }

  &-card {
    .shadow {
      height: 400px;
      width: 300px;
      box-shadow: var(--ks-box-shadow-card);
      background-color: var(--ks-background-color-default);

      &:hover {
        box-shadow: var(--ks-box-shadow-card-hover);
      }
    }
  }

  &-surface {
    .shadow {
      height: 400px;
      width: 100%;
    }
  }
}

.shadow {
  transition: var(--ks-transition-hover);
  border-radius: 6px;
  display: inline-block;
}
