.dsa-stats {
  --dsa-stats--gap-vertical: var(--ks-spacing-stack-l);
  --dsa-stats--gap-horizontal: var(--ks-spacing-inline-m);

  --dsa-stats__item--gap: var(--ks-spacing-stack-s);

  --dsa-stats__icon--color: var(--ks-text-color-display);
  --dsa-stats__icon--size: 4em;

  --dsa-stats__number--font: calc(var(--ks-font-size-display-xxl) * 1.5) / var(--ks-line-height-display-xxl)
    var(--ks-font-family-display);
  --dsa-stats__number--font-weight: var(--ks-font-weight-semi-bold);
  --dsa-stats__number--background: var(--dsa-typo--highlight);
  --dsa-stats__topic__font: var(--ks-font-interface-xl);
  --dsa-stats__topic--color: var(--ks-text-color-display);

  --dsa-stats__copy--font: var(--ks-font-copy-m);
  --dsa-stats__copy--color: var(--ks-text-color-default);
}
