@font-face {
  font-family: "Wix Madefor Text";
  src: url("../static/fonts/dsa/wix-madefor-text-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Text";
  src: url("../static/fonts/dsa/wix-madefor-text-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Text";
  src: url("../static/fonts/dsa/wix-madefor-text-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Text";
  src: url("../static/fonts/dsa/wix-madefor-text-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Display";
  src: url("../static/fonts/dsa/wix-madefor-display-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Display";
  src: url("../static/fonts/dsa/wix-madefor-display-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Display";
  src: url("../static/fonts/dsa/wix-madefor-display-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Display";
  src: url("../static/fonts/dsa/wix-madefor-display-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
