@font-face {
  font-family: "Myriad Pro";
  src: url("../static/fonts/dsa/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../static/fonts/dsa/MyriadPro-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../static/fonts/dsa/MyriadPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Defaults";
  src: url("../static/fonts/dsa/Defaults.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
