.dsa-event-location {
  --dsa-event-location__icon--size: calc(var(--ks-font-size-copy-m) * var(--ks-line-height-copy-m));

  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--ks-spacing-stack-s) var(--ks-spacing-inline-m);
  background-color: var(--ks-background-color-accent);
  padding: var(--ks-spacing-inset-m);
  border-radius: var(--ks-border-radius-surface);

  & + .dsa-event-location {
    margin-top: var(--ks-spacing-stack-m);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-stack-s);
    flex-grow: 0;
    flex-grow: 0;
  }

  &__name {
    font: var(--ks-font-interface-m);
    color: var(--dsa-topic--color);
    font-weight: var(--dsa-topic--font-weight);
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--ks-spacing-xxs);
  }

  &__link {
    font: var(--ks-font-interface-s);
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: var(--ks-spacing-inline-m);
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 200px;
  }

  &__icon {
    color: var(--ks-text-color-primary);
    width: var(--dsa-event-location__icon--size);
    height: var(--dsa-event-location__icon--size);
  }

  &__item {
    display: flex;
    gap: var(--ks-spacing-stack-xs);
  }

  &__appointments {
    display: flex;
    flex-direction: column;
    gap: var(--ks-spacing-stack-s);
    flex-grow: 1;
  }

  .l-container--rich-text {
    container-type: normal;
  }
}
